@font-face {
	font-family: trattatello;
	src: url(../font/trattatello.ttf);
}

html { overflow-y: scroll; }

body {
	font-family: trattatello;
	background-image: url("../img/fibonacci.jpg");
	background-position-x: right; 
	background-repeat: no-repeat;
	background-size: 115vh;
	background-color: #f9f9f9;
	margin: 0 auto;
}

#board {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-left: 2%;
}

#title { 
	font-size: 70px; 
	height: 10vh;
}

#title a {
	text-decoration: none;
	color: black;
}

#input {
	width: 300px;
	height: 30vh;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#sequences, #generate, #numbers, #clear {
	font-family: trattatello;
	font-size: 47px;
}

#sequences { text-align: center; }

#generate, #clear {
	background-color: #f9f9f9;
	border: 0;
}

#generate:hover, #clear:hover {
	cursor: pointer;
}

*:focus { outline: none; }

#numbers {
	display: flex;
	flex-wrap: wrap;
	height: 24vh;
	width: 95%;
}
