@font-face {
	font-family: trattatello;
	src: url(../font/trattatello.ttf);
}
body {
	font-family: trattatello;
	background-image: url("../img/fibonacci.jpg");
	background-position-x: right; 
	background-repeat: no-repeat;
	background-color: #f9f9f9;
}

#title {
	font-size: xx-large;
}